@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  background-color: #f8fafc;
  /* default slate-50 */
  color: #0f172a;
  /* default slate-900 */
}